#displayResult,#displayHeader {
   overflow: scroll;
   margin: 35px;
   max-width: 90%;
   max-height: 90%;
   background-color: white;
}

#separator {
	width: 100%;
	background-color: black;
	height: 20px;
	margin-right: 25px;

}

body {
	background-color: #e3e3e3;
}

#url_Input {
	width: 80%;
}

#status {
	background-color: white;
	margin-bottom: 20px;
}